# Besu chain data and private keys
node1/
node2/
node3/
node4/
networkFiles/

# Foundry build artifacts
out/
cache/
broadcast/

# Environment variables
.env

# forge-std library
voting-contract/lib/
voting-contract/out/
voting-contract/cache/
voting-contract/.gitmodules
