# Network chain data and keys
network/node1/
network/node2/
network/node3/
network/node4/
network/networkFiles/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Foundry
voting-contract/out/
voting-contract/cache/
voting-contract/lib/
